.popular-events-main-container{
    margin-bottom: 2rem;
}
.events-main-container{
    display: flex;
    overflow-y: scroll;
    gap: 10px;
    scroll-behavior: smooth;
}
.events-main-container::-webkit-scrollbar {
    display: none;
  }
.event-card{
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 350px;
    min-width: 310px;
}
.body-card-header p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-footer--organizer{
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-card{
    width: 90%;
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: space-between;
}
.header-card-people{
    background-color: #ffffff;
    font-size: 1.2rem;
    padding: .8rem;
    border-radius: 20px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.body-card{
    width: 90%;
    position: absolute;
    bottom: 10px;
    background-color: #ffffff;
    padding: 1.6rem 1.4rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.body-card-header{
    font-size: 1.6rem;
    font-weight: 700;
}
.card-footer--organizer{
    font-size: 1.2rem;
    font-weight: 600;
}
.card-footer--date{
    color: #38383a;
    font-weight: 600;
}
.body-card-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.event-card img{
    width: 100%;
    max-width: 327px;
    height: 218px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(1);
}

