.user-info-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.subtitle{
    color: #6C6D80;
    font-size: 2rem;
    font-weight: 600;
}
.image-profile{
    width: 60px;
    height: 60px;
}
.image-profile img{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main-info-user{
    margin-bottom: 1.2rem;
}